/* 
Generic Styling, for Desktops/Laptops 
*/

h1{
width: 100%;
background-color: #99AD99;
}
#errors
{
width: 100%;
color: red;
}
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #D6DED6; 
}
th { 
  background: #99AD99; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}